/* ----- Variables ----- */

/* ----- Global ----- */
* {
	box-sizing: border-box;
}

html,
body {
	overflow-x: hidden;
}
li{
    list-style: none;
		}

.pr-card{
	margin: 0px;
}
.product-section{
	margin-left: 60px;
	margin-right: 60px;
}

  
.section-head{
	font-size: 50px;
	color: white;
	font-weight: 900;
}

.agri-description{
	font-size: 25px;
	color: white;
	font-weight: 600;
}
.air-description{
	font-size: 25px;
	color: black;
	font-weight: 400;
}
.product-head{
	background-color: #78b122;
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	height: auto;
	max-width: 100%;
}
.product-name{
	font-weight: 700;
	font-size: 40px;
}
.product-detail{
	font-size: 20px;
}
.card{

	/* background-color: #fff; */
	/* background-color: #ffbf55; */
	border: none;
}
.card-body{
	color: white;
}
.gb-card{
	background-color: #ffbf55;
}
.gb-card h4{

	color: #2f2e41;
}
.buy-btn {
	display: inline-block;
	font-weight: 400;
	color: white;
	background-color: #fff;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: 0.25rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	text-transform: none;
  }
  .btn:hover {
	color: #ffbf55;
  }
  .buy-btn:focus, .buy-btn.focus {
	outline: 0;
	box-shadow: 0 0 0 0.2rem #78b122;
  }
  .navbar-1 {
    margin-bottom: 0;
    background-color: #fff;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
    color: #fff !important;
    background-color: #538742!important;
  }
  .footer {
    position: relative;
    top: -100px;
    background-color: #2d2d30;
    color: #f5f5f5;
    padding: 32px;
    font-weight: 400;
  }
  
  .footer a {
    color: #f5f5f5;
  }
  
  .footer a:hover {
    color: #538742;
    text-decoration: none;
  }

/* Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) { 
	.buy-btn{
		font-size: 12px;
	}
	.product-section{
		margin-left: 20px;
		margin-right: 20px;
	}
	.pr-card{
		width: 100%;
		padding: 5%;
	}
	.air-description{
		font-size: 20px;
		padding: 0px;
	}
	.air-head{
		font-size: 30px;
		padding: 15px;
	}
	.product-img{
		width:100%;
	}
	.air-pro-desc{
		margin: 2%;
	}
	.pdt-section-head{
		padding: 4%;
	}

	.air-desc{
		margin-top: auto;
		margin-bottom: auto;
	}
	.air-head{
		font-size: 60px;
		color: #78b122;
		font-family: 'Bebas Neue', cursive;
		font-style: normal;
		font-weight: 400;
		padding: 30px;
		margin: 30px;
		/* margin-left: 30px; */
	}
	.section-description{
		font-size: 15px;
		font-weight: 400;
		text-align: center;
		padding: 0px 40px;
	}
	.section-button{
		margin: 0 auto;
		width: 165px;
		font-size: x-small;
		font-weight: 600;
	}
	.section-button1{
		margin: 0 auto;
		width: 125px;
		font-size: x-small;
		color: #2f2e41;
		font-weight: 600;
	}
	.air-image{
		margin: auto;
		padding:0px 30px;
	}
	.agri-head{
		margin-top: 70px;
		text-align: center;
		margin-bottom: 10px;
	}
	.prod-image{
		max-width: 100%;
		max-width: 100%;
	}
	.prod-card{
		background-color: #fff;
		padding-left: 40px;
		padding-bottom: 30px;
		padding-right: 40px;
		padding-top: 30px;
		color: #fff;
		font-weight: 500;
		width: 80%;
		border-radius: 20px;
	}
	.air-pdt{
		margin-top: auto;
		margin-bottom: auto;
	}
	.welcome-img{
		margin-left: auto;
		margin-right: auto;
		width: 200px;
	}
	.welcome-img2{
		margin-left: auto;
		margin-right: auto;
		width:140px;
	}
	.air-prod{
		padding: 30px;
	}
	.logo{
		width: 140px;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 576px) and (max-width: 768px) { 
	.pdt-section-head{
		padding: 4%;
	}
	.buy-btn{
		font-size: 15px;
	}
	.air-description{
		font-size: 18px;
		padding: 30px;
	}
	.air-head{
		font-size: 35px;
		padding: 15px;
	}
	.pr-card{
		min-width: 50%;
		padding-bottom: 25px;
	}

	.air-desc{
		min-width: 100%;
	}

	.product-img{
		min-width:100%;
		padding: 20px;
	}
	.air-pro-desc{
		padding: 6%;
	}
	.air-desc{
		margin-top: auto;
		margin-bottom: auto;
	}
	.air-head{
		font-size: 80px;
		color: #78b122;
		font-family: 'Bebas Neue', cursive;
		font-style: normal;
		font-weight: 400;
		padding: 20px;
		/* margin-left: 30px; */
	}
	.section-description{
		font-size: 18px;
		text-align: center;
	}
	.section-button{
		margin: 30px;
	}
	.air-image{
		margin: auto;
		/* padding: 50px; */
	}
	.agri-head{
		margin-top: 180px;
		text-align: center;
		margin-bottom: 20px;
	}
	.prod-image{
		max-width: 100%;
		margin-top: auto;
		margin-bottom: auto;
	}
	.prod-card{
		background-color: #ffffff;
		padding: 60px;
		color: #fff;
		font-weight: 500;
		min-width: 100%;
		margin: 30px;
		border-radius: 20px;
	}
	.air-pdt{
		margin-top: auto;
		margin-bottom: auto;
	}
	.logo{
		width: 160px;
	}
	.shadow {
		-moz-box-shadow:    inset 0 0 10px #78b122;
		-webkit-box-shadow: inset 0 0 10px #78b122;
		box-shadow:         inset 0 0 10px #78b122;
	 }
 }
 /* Large devices (desktops, 992px and up) */
 @media (min-width: 768px) and (max-width: 992px) { 
	 .air-image{
		 height: auto;
		 /* padding: 40px; */
		margin: auto;
	 }
	 .air-description{
		font-size: 20px;
	}
	.air-head{
		font-size: 42px;
		padding: 15px;
	}

	.air-desc{
		min-height: 100%;
	}
	.pr-card{
		padding-bottom: 25px;
	}
	.air-desc{
		min-width: 100%;
	}
	.product-img{
		min-width:100%;
		padding: 20px;
	}
	.air-pro-desc{
		padding: 6%;
	}
	.pdt-section-head{
		padding: 4%;
	}
	.air-description{
		padding: 2%;
	}

	.air-desc{
		margin-top: auto;
		margin-bottom: auto;
	}
	.air-head{
		font-size: 100px;
		color: #78b122;
		font-family: 'Bebas Neue', cursive;
		font-style: normal;
		font-weight: 400;
		/* margin-left: 30px; */
	}
	.section-description{
		font-size: 20px;
		text-align: center;
	}
	.section-button{
		margin: 50px;
	}.logo{
		width: 160px;
	}
	.prod-card{
		background-color: #fff;
		padding: 20px;
		margin: 50px;
		color: #fff;
		border-radius: 20px;
		font-weight: 500;
	}
	.agri-head{
		margin-top: 120px;
		text-align: center;
		margin-bottom: 40px;
	}
	.prod-image{
		max-width: 100%;
		max-width: 100%;
	}
 }

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 992px) { 
	.air-image{
		margin: auto;
		padding:0%  14%;
	}
	.pr-card{
		padding:3%;
	}
	.product-detail{
		padding-top:11%;
		padding-bottom:11%;
		padding-left: 5%;
		padding-right: 5%;
	}
	.pdt-section-head{
		padding: 3%;
	}
	.air-description{
		padding: 3%;
		font-family: 'Bebas Neue', cursive;
		font-weight:100;
	}

	/* .section-title{
		height: 100vh;
	} */
	.air-desc{
		margin-top: auto;
		margin-bottom: auto;
	}
	.air-head{
		font-size: 100px;
		color: #78b122;
		font-family: 'Bebas Neue', cursive;
		font-style: normal;
		font-weight: 400;
		margin-left: 30px;
	}
	.section-description{
		font-size: 25px;
	}
	.section-button{
		margin: 50px;
	}
	.agri-head{
		margin-top: 120px;
		text-align: center;
		margin-bottom: 40px;
	}
	.prod-image{
		max-width: 100%;
		max-width: 100%;
	}
	.prod-card{
		background-color: #fff;
		padding: 30px;
		margin: 20px;
		border-radius: 20px;
		color: #fff;
		font-weight: 500;
	}
	.air-pdt{
		margin-top: auto;
		margin-bottom: auto;
	}
	.logo{
		width: 180px;
	}
 }

 @media (min-width: 768px) and (max-width: 1190px){

	.agri-head{
		margin-top: 120px;
		text-align: center;
		margin-bottom: 30px;
	}
	.prod-image{
		/* max-width: 100%; */
		padding: 40px;
	}
	.prod-card{
		background-color: #fff;
		padding: 30px;
		color: #2f2e41;
		font-weight: 500; 
		min-width: 70%;
		margin-top: 30px;
		 margin-bottom: 30px;
		 margin-left: 200px;
		 margin-right: 200px;
		 border-radius: 20px;
	}
	.air-pdt{
		margin-top: auto;
		margin-bottom: auto;
	}
	.prod-detail{
		margin-top: auto;
        margin-bottom: auto;
        color: #2f2e41;
	}
	.logo{
		width: 180px;
	}
 }
