@import url(//db.onlinewebfonts.com/c/f97196963cd19b4830b860a14bce7a37?family=Stem);

.form
{
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 1%;;
}

.buttonprop
{
    margin: 0 auto;
    display: block;
    margin-bottom: -40px;
}

.color
{
    background-color: #538742; 
    color: white; 
}

body{
    font-family: "Stem"; src: url("//db.onlinewebfonts.com/t/f97196963cd19b4830b860a14bce7a37.eot"); 
}

.title1
{
    text-align: center ;
    background-color: #538742; 
    color: white; 
}

