.total
{
    margin-left: 5%;
    margin-right: 5%;;
}

.buttonprop
{
    margin: 0 auto;
    display: block;
    margin-bottom: -40px;
}
.navbar-1 {
    margin-bottom: 0;
    background-color: #fff;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
    color: #fff !important;
    background-color: #538742!important;
  }


  .footer {
    position: relative;
    top: -100px;
    background-color: #2d2d30;
    color: #f5f5f5;
    padding: 32px;
  }
  
  .footer a {
    color: #f5f5f5;
  }
  
  .footer a:hover {
    color: #777;
    text-decoration: none;
  }
