

.jumbotron {
  background-color: #78b122; 
  color: #ffffff;
  padding: 150px;
  width: 100%;
  align-self: auto;
}


  .panel {
    border: 1px solid #538742;
    border-radius:0;
    transition: box-shadow 0.5s;

    align-items: center;
  }
  
  .panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }
  
  .panel-footer .btn:hover {
    border: 1px solid #538742;
    background-color: #ffff !important;
    color: #78b122;
  }
  
  .panel-heading {
    color: #fff !important;
    background-color: #78b122 !important;
    padding: 100px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .panel-body{
    padding: 100px ;
  }
  .formcontrol{
    height: 300px;
  }
  .panel-footer {
    background-color: #fff !important;
    padding: 25px;
  }
  
  .panel-footer h3 {
    font-size: 32px;
  }
  
  .panel-footer h4 {
    color: #aaa;
    font-size: 14px;
  }
  
  .panel-footer .btn {
    margin: 15px 0;
    background-color: #78b122;
    color: #fff;
  }

  .review{
    position: relative;
    top: 200px;
  }
  .carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #538742;
  }
  
  .carousel-indicators li {
    border-color: #78b122;
  }
  
  .carousel-indicators li.active {
    background-color: #538742;
  }
  
  .item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
  }
  
  .item span {
    font-style: normal;
  }.carousel-control.right, .carousel-control.left {
  background-image: none;
  color: #78b122;
}

.carousel-indicators li {
  border-color: #78b122;
}

.carousel-indicators li.active {
  background-color: #538742;
}

.item h4 {
  font-size: 19px;
  line-height: 1.375em;
  font-weight: 400;
  font-style: italic;
  margin: 70px 0;
}

.item span {
  font-style: normal;
}

  .contact{
    background-color: #fff;
    position: relative;
    top: 200px;
    padding: 100px;
    background-image: url(img/contact.jpg) ;
    
  }

  

  .googleMap{
    position: relative;
    top: -150px;
    left: 70%;
  }

  .footer {
    position: relative;
    top: -100px;
    background-color: #2d2d30;
    color: #f5f5f5;
    padding: 32px;
  }
  
  .footer a {
    color: #f5f5f5;
  }
  
  .footer a:hover {
    color: #777;
    text-decoration: none;
  }

  .navbar {
    margin-bottom: 0;
    background-color: #fff;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
  }
  
  .navbar li a, .navbar .navbar-brand {
    color: #538742 !important;
  }
  
  .navbar-nav li a:hover, .navbar-nav li.active a {
    color: #fff !important;
    background-color: #538742!important;
  }
  
  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: #538742 !important;
  }

  .navbar-brand{
    width: 10px;
    height: 10px;
    position: relative;
    top: 0px;
  }

  .logo {
    position: relative;
    top: -15px;
    left: auto;
  }
  
  .cart{
    position: relative;
    top: -3px;
    left: 0px;
  }

  /* Dropdown container - needed to position the dropdown content */
.dropdown {
  float: left;
  overflow: hidden;
  margin-bottom: 0;
  background-color: #fff;
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
  display: block;
}

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: #538742;
  padding: 17px 16px;
  margin: 0;
  margin-bottom: 0;
  background-color: #fff;
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a dark background on topnav links and the dropdown button on hover */
.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #538742;
  color: white;
}

/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
  display: block;
}

body {
  font: 400 15px Lato, sans-serif;
  line-height: 1.8;
  color: #818181;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.jumbotron {
  font-family: Montserrat, sans-serif;
}

.navbar {
  font-family: Montserrat, sans-serif;
}

h2 {
  font-size: 24px;
  text-transform: uppercase;
  color: #303030;
  font-weight: 600;
  margin-bottom: 30px;
}

h4 {
  font-size: 19px;
  line-height: 1.375em;
  color: #303030;
  font-weight: 400;
  margin-bottom: 30px;
}

.slideanim {visibility:hidden;}
.slide {
  /* The name of the animation */
  animation-name: slide;
  -webkit-animation-name: slide;
  /* The duration of the animation */
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  /* Make the element visible */
  visibility: visible;
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

 body {
  position: relative;
  top:0;
  left:0;
  right:0;

}


@media (min-width: 576px) and (max-width: 768px) {
  .jumbotron{
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 120px;
  padding-bottom: 120px;
  }
}
@media (max-width: 576px) {
  .jumbotron{
    padding-bottom: 100px;
    padding-top: 100px;
    padding-left: 30px;
    padding-right: 30px;
  }


}