@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Reem Kufi", sans-serif;
}
body {
  background: #ecf7ea;
}

nav {
  height: 70px;
  background: #ecf7ea;
}

nav img {
  width: 150px;
  position: absolute;
  top: 17px;
  left: 8%;
}

nav ul {
  float: right;
  margin-right: 25px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 15px;
}

nav ul li a {
  position: relative;
  color: #098f2e;
  font-size: 15px;
  text-transform: uppercase;
  padding: 5px 0;
}

nav ul li a::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background: #098f2e;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s linear;
}

nav ul li a:hover:before {
  transform: scaleX(1);
  transform-origin: left;
}

label #btn,
label #cancel {
  color: #098f2e;
  font-size: 25x;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

.home {
  display: flex;
  color: #098f2e;
  font-size: 20px;
  margin-bottom: -4%;
}

.text {
  margin-top: 20%;
  margin-left: 10%;
}

.text img {
  margin-left: -15px;
}

.bg_image1 img {
  float: right;
}

.vision {
  display: flex;
  color: #098f2e;
  font-size: 20px;
  text-align: right;
  margin-top: 3%;
}

.vision p {
  margin-right: 10%;
}

.bg_image2 img {
  float: left;
  width: 100%;
}

.heading {
  font-size: 64px;
  color: #098f2e;
  text-transform: uppercase;
}

.video {
  background-image: url("./img/video_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 4%;
}

video {
  width: 980px;
  height: 550px;
  object-fit: cover;
  border-radius: 10px;
  filter: opacity(75%);
  z-index: 0;
}

.services {
  margin-top: 3%;
  text-align: center;
}
.itemgrid {
  width: 90%;
  margin: 3% auto 3% auto;
  /* margin-top: 40px;
  margin-bottom: 20px; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  justify-content: space-between;
}

.itemcard {
  height: 300px;
  width: 250px;
  margin: 0 auto 8%;
  padding-bottom: 2%;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  transition: all 0.2s ease-in-out;
  color: #098f2e;
}

.services .itemcard:hover {
  color: #ffffff;
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  background-color: #098f2e;
  cursor: pointer;
}

.item-img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.item-text {
  text-align: center;
  font-size: 24px;
}

.team {
  text-align: center;
}

.team .item-img {
  height: 75%;
}

.item-subtext {
  text-align: center;
  font-size: 17px;
  text-transform: uppercase;
}

.bg {
  background-image: url("./img/contact_bg.png");
  background-repeat: no-repeat;
  background-size: 100% 50%;
  background-position: bottom;
}

@media (min-width: 944px) {
  nav img {
    left: 8%;
  }
}

@media (max-width: 944px) {
  nav img {
    left: 6%;
    top: 20px;
    width: 130px;
  }
  nav ul li a {
    font-size: 17px;
  }
  .video {
    display: inline-block;
  }

  .video video {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 860px) {
  label #btn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #098f2e;
    top: 80px;
    left: -100%;
    transition: all 0.5s;
    text-align: center;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 17px;
    color: #ecf7ea;
  }
  nav ul li a::before {
    background: #ecf7ea;
  }
  #check:checked ~ ul {
    left: 0%;
  }
  #check:checked ~ label #btn {
    display: none;
  }
  #check:checked ~ label #cancel {
    display: block;
  }

  .home,
  .vision {
    display: inline;
    font-size: 17px;
  }

  .heading {
    font-size: 45px;
  }

  .text img {
    width: 50%;
    height: auto;
    margin-left: -10px;
  }

  .bg_image1 img,
  .bg_image2 img {
    width: 100%;
    height: auto;
  }
  .video {
    display: inline-flex;
  }

  .video video {
    width: 100%;
    height: auto;
  }

  /* .bg {
    background-size: 100% 85%;
  } */
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

header {
  position: relative;
  top: 0;
  left: 0;
  z-index: 99;
  margin: auto;
  width: 100%;
}
