
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Reem Kufi', sans-serif;
  

}
body{
  background: #ECF7EA;
}

nav{
  height: 70px;
  background: #ECF7EA;
}  
nav img{
  width: 150px;
  position: absolute;
  top: 17px;
  left: 8%;
}

nav ul{
  float: right;
  margin-right: 25px;

}

nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 15px;

}

nav ul li a{
  position: relative;
  color: #098F2E;
  font-size: 15px;
  text-transform: uppercase;
  padding: 5px 0;
  text-decoration: none;



}

nav ul li a:hover, a:focus {
  text-decoration: none;
  color: #098F2E;
}



nav ul li a::before{
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background: #098F2E;
  transform: scaleX(0);
  transform-origin:right ;
  transition: transform .4s linear;

}

nav ul li a:hover:before{
  transform: scaleX(1);
  transform-origin: left;
}

label #btn,label #cancel{
  color: #098F2E;
  font-size: 25x;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;


}

#check{
  display: none;
}

@media (max-width:1118px){
  nav img{
    left: 8%;
  }
}

@media(max-width:944px){
  nav img{
    left: 6%;
    top: 20px;
    width: 130px;
  }
  nav ul li a{
    font-size: 17px;
  }
}

@media(max-width:860px){
  label #btn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #098F2E; 
    top: 80px;
    left: -100%;
    transition: all .5s;
    text-align: center;


  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;


  }
  nav ul li a{
    font-size: 17px;
    color: #ECF7EA;
  }
  nav ul li a::before{
    background:#ECF7EA ;
  }
  #check:checked ~ ul{
    left: 0%;
  }
  #check:checked ~ label #btn{
    display: none;
  }
  #check:checked ~ label #cancel{
    display: block;
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

#product{
  background: url(img/products.png);
  background-size: cover;
    /* background-position: right; */
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    min-height: 100vh;
}

